extends layout

block content
  nav.box_ul
   li.logo
    h1.titulo= logo
   li.Ingreso
    a(class="Estas_en", href="/")= EstasEn
   div(class="fa-solid fa-bars")
    ul.sex_on
     li.sex_container
      a(class="sexo" , href="#")= SexoM
      a(class="sexo" , href="#")= SexoF
  dialog#modal
  form(class="form", data-form)
    label(for="name")= LNombre
    input(id="name", class="nombre", type="text", placeholder="Ingresa tu Nombre", required , data-nombre)
    label(for="apellido")= LApellido
    input(id="apellido", class="ap",type="text",placeholder="Ingresa tu Apellido", required, data-apellido)
    label(for="email")= LEmail
    input(id="email", class="mail", type="email", placeholder="ejemplo@algien.com", required, data-email)
